.like_box_titile{
	font-weight:bold;		
}
button{
	webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
	-moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
	-ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
	-o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
	transition:0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
 }
#save_button_design{
	width: 104px;
}
.save_button_span{
	float:left;
}
.save_button {
	overflow:hidden !important;
}
.padding_loading{
	width: 130px !important;
	
}
 .saving_in_progress{
	position: relative;
	display:none;
	width: 18px;
	height: 18px;
	margin-left: 12px;
	top: 4px;
	background-image: url(../images/loading.gif);
	background-size:100% 100%;
 }
 .sucsses_save{
	position: relative;
	display:none;
	width: 18px;
	height: 18px;
	margin-left: 12px;
	top: 4px;
	background-image: url(../images/success.png);
	background-size:100% 100%;
}
.error_in_saving{
	position: relative;
	display:none;
	width: 18px;
	height: 18px;
	margin-left: 12px;
	top: 4px;
	background-image: url(../images/remove_element.png);
	background-size:100% 100%;
}
.error_massage{
	color: #BB1E1E;
	font-size: 18px;
	font-weight: bold;
	padding-left: 21px;
}
